#projectList {
  font-family: roboto, verdana, monospace;
  text-transform: uppercase;
  list-style-type: none;
  margin: 10px, 0px;
  padding: 0px;
}

.center{
  position: absolute;
  top: 50%;
  left: 33%;
  right: 33%;
  transform: translate(0, -50%);
  border: 50px solid #000000;
  padding: 20px;
}

.item {
  margin-bottom: 10px;
  font-size: 2em;
}

h1 {
  font-family: roboto, verdana, monospace;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: grey;
}
